.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.beer-form textarea {
    width: 450px;
    height:250px;
}
